<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Campaign Group List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

	<!-- NavBar -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

		<a class="navbar-brand" href="#">Campaign Management System</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto p-2">

				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>

				<li class="nav-item active"><a class="nav-link"
					th:href="@{/campaignGroups}"> Campaign Groups</a></li>

				<li class="nav-item active"><a class="nav-link"
					th:href="@{/campaign}"> Campaigns</a></li>

			</ul>

		</div>

	</nav>


	<!-- NavBar -->


	<!-- Campaign Group Table  -->


	<div class="container text-center p-2">

		<div>
			<h1>Campaign Group List</h1>
		</div>

		<div class="container p-5">

			<table class="table table-striped bg-dark text-white">

				<caption>List of Campaign Groups</caption>

				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Action</th>
					</tr>
				</thead>

				<tbody>

					<th:block th:each="cg: ${campaignGroupsList}">
						<!-- the name we passed in model.addattribute  -->

						<tr>
							<td>[[${cg.id}]]</td>
							<td>[[${cg.name}]]</td>
							<td>[[${cg.description}]]</td>

							<td><a class="btn btn-sm btn-info text-white"
								th:href="@{/editCampaignGroup/{id}(id=${cg.id})}">Edit</a> <a
								class="btn btn-sm btn-danger text-white"
								th:href="@{/deleteCampaignGroup/{id}(id=${cg.id})}">Delete</a></td>
						</tr>

					</th:block>

				</tbody>

			</table>

		</div>

	</div>


	<!-- Campaign Group Table -->


	<!-- Add New Group Button -->


	<div class="container text-center">

		<a class="btn btn-sm btn-primary text-white"
			th:href="@{/campaignGroups/add}">Add New Group</a>

	</div>


	<!-- Add New Group Button -->


</body>
</html>